<div class="card">
  <img
    class="album-cover"
    [src]="album()?.cover ?? '/no-album-cover.jpg'"
    (error)="handleImageError($event)"
    alt="Album Cover"
  />
  @if (showCommentBox) {
  <div class="comment-box">
    <textarea
      placeholder="Escribe tu comentario aquí..."
      [(ngModel)]="comment"
      class="comment-textarea"
    >
    </textarea>
    <div class="rating">
      @for (start of stars; track i; let i = $index) {
      <button
        class="star"
        [class.filled]="i < rating"
        (click)="rateAlbum(i + 1)"
      >
        ★
      </button>
      }
    </div>
    <div class="comment-actions">
      <button class="comment-button cancel" (click)="cancelComment()">
        Cancelar
      </button>
      <button class="comment-button submit" (click)="submitComment()">
        Enviar
      </button>
    </div>
  </div>
  } @else {
  <div class="card-content">
    <h2 class="album-name">{{ album()?.name }}</h2>
    <p class="album-release-date">Lanzamiento: {{ album()?.releaseDate }}</p>
    <p class="album-description">{{ album()?.description }}</p>
    <div class="album-info">
      <span class="album-genre">Género: {{ album()?.genre }}</span>
      <span class="album-label">Disquera: {{ album()?.recordLabel }}</span>
    </div>
    <button
      class="action-button edit-button"
      routerLink="/edit-album/{{ album()?.id }}"
    >
      <img src="/edit.svg" width="15" alt="" />
    </button>
  </div>
  }
  <div class="card-actions">
    <button class="action-button" routerLink="/album-detail/{{ album()?.id }}">
      <img src="/eye.png" width="15" alt="" />
    </button>
    <button class="action-button" (click)="openComment()">
      <img src="/comment.png" width="15" alt="" />
    </button>
  </div>
</div>
